.login-form-container {
  background-color: #f4f4f4;
}
.register-form-container {
  background-color: #fff;
}

.text-input {
  border-radius: 0;
  padding: 1em;
  outline: none;
  appearance: none;
  border: 1px solid #000;
  margin-top: 1rem;
  font-size: 14px;
}
.text-input:focus {
  border-color: #1f1f1f;
}
