

$primary: #54A8CC;
$secondary: #9196a1;
$ligth: #fff3f3;
$warning: #f5e1b3;


$btn-padding-y: 0.95em;               
$btn-padding-x: 1.55rem;                        
$btn-font-size: 16px;             


@import '~bootstrap/scss/bootstrap.scss';
