$primary: #54A8CC;
$secondary: #9196a1;
$ligth: #f2eceb;
$warning: #f5e1b3;



$btn-padding-y: 0.75em;               
$btn-padding-x: 1.55rem;                        
$btn-font-size: 16px;        


@import '~bootstrap/scss/bootstrap.scss'