.main-header {
  display: flex;
  height: 80px;
  background-color: #cfcfcc;
  align-items: center;
}

.main-header nav {
  width: 100%;
}
.navigation {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
