.product-list-container {
  padding: 2rem;
}

.product-list-container > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.product-list-container > ul > li {
  list-style: none;
}

.product-list-container > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
}

.product-list-container > ul > li > figure > img {
  width: 100%;
}

.product-list-container > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.product-list-container > ul > li > figure > figcaption > h3 {
  color: white;
  padding: 0.75rem;
  font-size: 1.25rem;
}

.product-list-container > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0.75rem;
  color: #666666;
}

.product-list-container > ul > li > a {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}
